# Arquivos de ambiente
.env

# Ambiente virtual
venv/
.venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de banco de dados SQLite
*.db
*.db-journal

# Arquivos de controle de sincronização
data/.last_player_sync

/static

CLEAN_SETUP.md

.vscode/